@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


/******************/
/******ACCESS******/
/******************/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/******************/
/****CSS RESET*****/
/******************/

* {
  margin: 0;
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font-family: inherit;
  outline: none;

  &:active {
    outline: none;
  }
  &:focus {
    outline: none; 
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/******************/
/****VARIABLES*****/
/******************/
$primary: #0015FF;
$secondary: #FFEA00;
$light: #F7F7FF;
$dark: #00010F;

$gradient-text: linear-gradient(45deg, #fbd305, #ddcc3c, #043c80, #8ca464, #827616, #44747c, #444444 )